<head>
    <style>
      div{
        background: rgb(160, 223, 188);
        font-family: sans-serif;
        padding: 10px;
      }
    </style>
  </head>
  
  <div>
    <strong>Olá, <%= user %></strong>
  
    <p>Você tem um novo agendamento para <strong><%= date %></strong></p>
  
  </div>
  